[Desktop Entry]
Encoding=UTF-8
Name=Link to anagrams.csv
Type=Link
URL=https://cdn.discordapp.com/attachments/505652724566720512/511144419848617995/anagrams.csv
Icon=text-csv
